<section class=card>
<div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, numquam et. Natus numquam aperiam ex unde? Maiores hic obcaecati debitis!</p>
    
</div>

</section>