<div class="jumbotron mt-4">

    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sed assumenda consequuntur est, hic harum? Reiciendis atque accusantium aut doloribus voluptatibus ea, error sunt distinctio ratione vel quos dolores odit? </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque autem est dolorum illum! Sed quidem quam voluptatum suscipit cupiditate?</p>
    <a href="https://www.meneame.es" class="btn btn-primary">MENEAME</a>
</div>


